In [1]:

path = r"F:\End_To_End_project\Ham_Spam_Classifier(ETE)\artifact\01_25_2024_22_31_11\data_transformation\transform_data.csv"

In [2]:
import os
os.chdir('..')
%pwd

'f:\\End_To_End_project\\Ham_Spam_Classifier(ETE)'

In [3]:
import pandas as pd
df = pd.read_csv(path)
df.head()

   Target                                       Text_Message
0       0  go jurong point crazy available bugis n great ...
1       0                                  ok lar joking oni
2       1  free entry 2 weekly comp win fa cup final tkts...
3       0                    dun say early hor c already say
4       0           nah dont think go usf life around though

In [4]:
df.Text_Message.isna().sum()

7

In [5]:
df = df.dropna(subset=['Text_Message'])

# Print the number of missing values in the Text_Message column
print(df.isna().sum())

Target          0
Text_Message    0
dtype: int64

In [46]:
ham = df[df['Target']==0]
spam = df[df['Target']==1]

In [74]:
ham['Target'].value_counts()

Target
0    4509
Name: count, dtype: int64

In [75]:
spam['Target'].value_counts()

Target
1    653
Name: count, dtype: int64

In [45]:
ham =ham.Text_Message
spam =spam.Text_Message
td =df.Text_Message

In [13]:
word = []
for text in td:
    sentenc = text.split()
    for i in sentenc:
        word.append(i)

In [17]:
from collections import Counter

In [19]:
freq = Counter(word)

In [20]:
word_freq = pd.DataFrame(freq.items(),columns=['word','frequency'])

In [26]:
sf = word_freq.sort_values(by='frequency')

In [27]:
sf.head()

             word  frequency
8796     bitching          1
3699    worthless          1
3698        ipads          1
3697   cocksucker          1
6373  08718725756          1

## Check the data on Freq Base

In [37]:
sf[sf['frequency']>40]

      word  frequency
573   mean         41
31     may         41
310    yup         41
178    use         41
111  month         41
..     ...        ...
0       go        295
367    get        375
22       2        443
119     im        456
102   call        507

[197 rows x 2 columns]

In [ ]:
frequency_threshold = 5

selected_words = word_frequency[word_frequency['frequency'] > frequency_threshold]['word'].tolist()

In [47]:
from collections import Counter
def frequency_count(df):
    word = []
    for text in df:
        sentenc = text.split()
        for i in sentenc:
            word.append(i)
    freq = Counter(word)
    word_freq = pd.DataFrame(freq.items(),columns=['word','frequency'])
    sf = word_freq.sort_values(by='frequency')
    return sf

In [48]:
ham_df =ham.Text_Message
spam_df =spam.Text_Message

In [50]:
ham_freq = frequency_count(ham_df)
spam_freq = frequency_count(spam_df)

In [53]:
ham_freq[ham_freq['frequency'] < 5 ]

           word  frequency
3455   agesring          1
4582         dd          1
4581  perpetual          1
4580     stated          1
4578    handing          1
...         ...        ...
3933  colleague          4
1603      three          4
3106     tablet          4
4015      freak          4
2286      fever          4

[5735 rows x 2 columns]

In [78]:
spam_freq[spam_freq['frequency'] > 5 ]

           word  frequency
1075      guess          6
394     youfind          6
586     entered          6
395   arereveal          6
437      answer          6
...         ...        ...
13         text        120
17          txt        126
2             2        155
0          free        188
50         call        314

[351 rows x 2 columns]

In [79]:
spam_freq

            word  frequency
2781        now1          1
1156      taking          1
2016  soundtrack          1
1154         rcd          1
1153   chat80155          1
...          ...        ...
13          text        120
17           txt        126
2              2        155
0           free        188
50          call        314

[2782 rows x 2 columns]

In [13]:
from nltk.stem.snowball import SnowballStemmer

stemmer = SnowballStemmer(language = 'english')
stemmer.stem('going')

'go'

In [14]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from nltk.tokenize import word_tokenize
import pandas as pd

# Download stopwords if not already downloaded
nltk.download('stopwords')

# Initialize the SnowballStemmer
stemmer = SnowballStemmer('english')

def tokenize(text):
    if not isinstance(text, str):
        return []
    
    # Convert to lowercase
    text = text.lower()
    
    # Tokenize the text
    tokens = word_tokenize(text)
    
    # Remove punctuation and special characters
    tokens = [token for token in tokens if token.isalnum()]
    
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    tokens = [token for token in tokens if token not in stop_words]
    
    # Stem the tokens
    stemmed_tokens = [stemmer.stem(token) for token in tokens]
    
    return stemmed_tokens



# Apply the tokenize function to each element of the Text_Message column
df['Tokenized_Message'] = df['Text_Message'].apply(tokenize)

print(df)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

      Target                                       Text_Message  \
0          0  go jurong point crazy available bugis n great ...
1          0                                  ok lar joking oni
2          1  free entry 2 weekly comp win fa cup final tkts...
3          0                    dun say early hor c already say
4          0           nah dont think go usf life around though
...      ...                                                ...
5164       1  2nd time tried 2 contact 750 pound prize 2 cla...
5165       0                          b going esplanade fr home
5166       0                         pity mood soany suggestion
5167       0  guy bitching acted like id interested buying s...
5168       0                   rolling floor laughing true name

                                      Tokenized_Message
0     [go, jurong, point, crazi, avail, bugi, n, gre...
1                                  [ok, lar, joke, oni]
2     [free, entri, 2, week, comp, win, fa, cup, fin...
3               [dun, say, earli, hor, c, alreadi, say]
4     [nah, dont, think, go, usf, life, around, though]
...                                                 ...
5164  [2nd, time, tri, 2, contact, 750, pound, prize...
5165                        [b, go, esplanad, fr, home]
5166                       [piti, mood, soani, suggest]
5167  [guy, bitch, act, like, id, interest, buy, som...
5168                   [roll, floor, laugh, true, name]

[5162 rows x 3 columns]

In [15]:
df = df.dropna(subset=['Text_Message'])

# Print the number of missing values in the Text_Message column
print(df.isna().sum())

Target               0
Text_Message         0
Tokenized_Message    0
dtype: int64

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

In [17]:
df.Text_Message.isna().sum()

0

In [18]:
df.dropna(axis=1, inplace=True)

In [19]:
cv = CountVectorizer()
new = cv.fit(df.Text_Message)