In [1]:
import os
os.chdir('..')
%pwd

'f:\\End_To_End_project\\Ham_Spam_Classifier(ETE)'

In [14]:
import pandas as pd

path = r"artifact\01_25_2024_15_11_32\data_validation\invalid\invalidated_data.csv"
df = pd.read_csv(path)

In [39]:
df.shape

(5572, 2)

In [16]:
from src.utils import *
from src.models.label_encoding import LabelConverter

In [17]:
label_converter = LabelConverter()
df["Target"] = df["Target"].apply(lambda x: label_converter.ham if x == 'ham' else label_converter.spam)
df.head()

   Target                                       Text_Message
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [22]:
spam = df[df.Target ==1]
ham = df[df.Target ==0]

In [21]:
spam

      Target                                       Text_Message
2          1  Free entry in 2 a wkly comp to win FA Cup fina...
5          1  FreeMsg Hey there darling it's been 3 week's n...
8          1  WINNER!! As a valued network customer you have...
9          1  Had your mobile 11 months or more? U R entitle...
11         1  SIX chances to win CASH! From 100 to 20,000 po...
...      ...                                                ...
5537       1  Want explicit SEX in 30 secs? Ring 02073162414...
5540       1  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547       1  Had your contract mobile 11 Mnths? Latest Moto...
5566       1  REMINDER FROM O2: To get 2.50 pounds free call...
5567       1  This is the 2nd time we have tried 2 contact u...

[747 rows x 2 columns]

In [23]:
ham

      Target                                       Text_Message
0          0  Go until jurong point, crazy.. Available only ...
1          0                      Ok lar... Joking wif u oni...
3          0  U dun say so early hor... U c already then say...
4          0  Nah I don't think he goes to usf, he lives aro...
6          0  Even my brother is not like to speak with me. ...
...      ...                                                ...
5565       0                                       Huh y lei...
5568       0              Will Ì_ b going to esplanade fr home?
5569       0  Pity, * was in mood for that. So...any other s...
5570       0  The guy did some bitching but I acted like i'd...
5571       0                         Rofl. Its true to its name

[4825 rows x 2 columns]

In [34]:
spam.Text_Message.values[0]

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [35]:
data_cleaning(spam.Text_Message.values[0])

"free entri 2 week comp win fa cup final tkts 21st may 2005. text fa 87121 receiv entri question ( std txt rate ) & c 's appli 08452810075over18 's"

In [40]:
df["clean_data"] = [data_cleaning(i) for i in df.Text_Message.values]

In [41]:
df

,Target,Text_Message,clean_data
0,0,"Go until jurong point, crazy.. Available only ...","go jurong point , crazi .. avail bugi n great ..."
1,0,Ok lar... Joking wif u oni...,ok lar ... joke oni ...
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,free entri 2 week comp win fa cup final tkts 2...
3,0,U dun say so early hor... U c already then say...,dun say earli hor ... c alreadi say ...
4,0,"Nah I don't think he goes to usf, he lives aro...","nah n't think goe usf , live around though"
...,...,...,...
5567,1,This is the 2nd time we have tried 2 contact u...,2nd time tri 2 contact . å£750 pound prize . 2...
5568,0,Will Ì_ b going to esplanade fr home?,ì_ b go esplanad fr home ?
5569,0,"Pity, * was in mood for that. So...any other s...","piti , * mood . ... suggest ?"
5570,0,The guy did some bitching but I acted like i'd...,guy bitch act like 'd interest buy someth els ...
5571,0,Rofl. Its true to its name,roll floor laugh . true name

In [57]:
from nltk.tokenize import word_tokenize

df['tokenized_data'] = df['clean_data'].apply(word_tokenize)
df['word_length'] = [len(i) for i in df['tokenized_data']]

In [60]:
df

,Target,Text_Message,clean_data,tokenized_data,word_length
0,0,"Go until jurong point, crazy.. Available only ...","go jurong point , crazi .. avail bugi n great ...","[go, jurong, point, ,, crazi, .., avail, bugi,...",20
1,0,Ok lar... Joking wif u oni...,ok lar ... joke oni ...,"[ok, lar, ..., joke, oni, ...]",6
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,free entri 2 week comp win fa cup final tkts 2...,"[free, entri, 2, week, comp, win, fa, cup, fin...",30
3,0,U dun say so early hor... U c already then say...,dun say earli hor ... c alreadi say ...,"[dun, say, earli, hor, ..., c, alreadi, say, ...]",9
4,0,"Nah I don't think he goes to usf, he lives aro...","nah n't think goe usf , live around though","[nah, n't, think, goe, usf, ,, live, around, t...",9
...,...,...,...,...,...
5567,1,This is the 2nd time we have tried 2 contact u...,2nd time tri 2 contact . å£750 pound prize . 2...,"[2nd, time, tri, 2, contact, ., å£750, pound, ...",24
5568,0,Will Ì_ b going to esplanade fr home?,ì_ b go esplanad fr home ?,"[ì_, b, go, esplanad, fr, home, ?]",7
5569,0,"Pity, * was in mood for that. So...any other s...","piti , * mood . ... suggest ?","[piti, ,, *, mood, ., ..., suggest, ?]",8
5570,0,The guy did some bitching but I acted like i'd...,guy bitch act like 'd interest buy someth els ...,"[guy, bitch, act, like, 'd, interest, buy, som...",14
5571,0,Rofl. Its true to its name,roll floor laugh . true name,"[roll, floor, laugh, ., true, name]",6

In [70]:
sorted_df = df.sort_values(by='word_length', ascending=True)

In [94]:
sorted_df.tokenized_data

5268                                                [\er]
5188                                                [oki]
3049                                                 [ok]
1924                                                 [ok]
3092    [staff.science.nus.edu.sg/~phyhcmk/teaching/pc...
                              ...
1862    [last, thing, ever, want, hurt, ., n't, think,...
2157    [sad, stori, man, -, last, week, b'day, ., wif...
2847    [sad, stori, man, -, last, week, b'day, ., wif...
2433    [indian, poor, india, poor, countri, ., say, o...
1578    [make, girl, happi, ?, 's, difficult, make, gi...
Name: tokenized_data, Length: 5572, dtype: object

In [78]:
", ".join(map(str, sorted_df['word_length'].values))

'1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 33, 33, 33, 33, 33, 33, 33, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 35, 35, 35, 35, 36, 36, 36, 36, 36, 37, 37, 37, 37, 37, 37, 37, 37, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 39, 39, 39, 39, 39, 39, 40, 40, 40, 40, 40, 41, 41, 43, 44, 44, 44, 45, 45, 46, 46, 47, 47, 47, 47, 48, 48, 48, 49, 50, 50, 51, 51, 51, 51, 51, 52, 52, 53, 53, 56, 56, 56, 56, 58, 59, 60, 60, 61, 64, 82, 85, 86, 86, 87, 87, 87, 96, 99, 99, 124, 202'

In [96]:
sorted_df.tokenized_data

5268                                                [\er]
5188                                                [oki]
3049                                                 [ok]
1924                                                 [ok]
3092    [staff.science.nus.edu.sg/~phyhcmk/teaching/pc...
                              ...
1862    [last, thing, ever, want, hurt, ., n't, think,...
2157    [sad, stori, man, -, last, week, b'day, ., wif...
2847    [sad, stori, man, -, last, week, b'day, ., wif...
2433    [indian, poor, india, poor, countri, ., say, o...
1578    [make, girl, happi, ?, 's, difficult, make, gi...
Name: tokenized_data, Length: 5572, dtype: object

In [91]:
words = [words for lists in sorted_df.tokenized_data for words in lists]
words

['\\er',
 'oki',
 'ok',
 'ok',
 'staff.science.nus.edu.sg/~phyhcmk/teaching/pc1323',
 'yup',
 'oki',
 '@',
 'ok',
 '...',
 'phone',
 '6time',
 'hungri',
 'yup',
 'food',
 'respond',
 'alrit',
 '...',
 'idea',
 'g.w.are',
 'ok',
 '645',
 'oki',
 'oki',
 'pock',
 'like',
 '?',
 'number',
 'sir',
 '.',
 'happen',
 'ok',
 '...',
 'buy',
 '.',
 'brother',
 'genius',
 'talk',
 '..',
 'plan',
 '?',
 'late',
 '.',
 '\\hey',
 'kate',
 'movi',
 'laptop',
 'look',
 '?',
 'ok',
 '.',
 'come',
 'home',
 'ok',
 '...',
 'today',
 '?',
 'nite',
 '...',
 'know',
 'call',
 'good',
 'hear',
 ':',
 ')',
 'wana',
 'see',
 'ever',
 'easier',
 'happi',
 'say',
 'see',
 '!',
 'meet',
 '?',
 'sis',
 '?',
 'never',
 'noth',
 'convey',
 'regard',
 'anyth',
 '...',
 'way',
 'home',
 'b4',
 'thursday',
 'unbeliev',
 'faglord',
 '2',
 '.',
 'drop',
 'tank',
 'eye',
 'philosophi',
 'wat',
 '?',
 'lectur',
 '?',
 'yeah',
 'wors',
 'much',
 'buzi',
 'ok',
 '...',
 'much',
 'buzi',
 'k.',
 'sent',
 'bluray',
 'player',
 'way',
 '.',
 'cough',
 'noth',
 'beerag',
 '?',
 'contin',
 '?',
 'ok',
 '.',
 'hold',
 '?',
 'mani',
 'depend',
 'pizza',
 'want',
 '?',
 '?',
 'anytim',
 '...',
 'yes',
 'fine',
 'special',
 '?',
 'ok',
 'prob',
 'start',
 'skye',
 'oki',
 '...',
 'late',
 '.',
 'get',
 '?',
 'call',
 '...',
 'number',
 'sir',
 '.',
 'rememb',
 '.',
 'check',
 'erutupalam',
 'thandiyachu',
 'stand',
 '.',
 'havent',
 '.',
 'stupid.it',
 'possibl',
 'tell',
 'address',
 'togeth',
 'thinkin',
 'say',
 'happen',
 'way',
 'home',
 '?',
 '?',
 'thank',
 '!',
 'womdarful',
 'actor',
 'head',
 'straight',
 'come',
 'peopl',
 'stupid.it',
 'possibl',
 'want',
 'talk',
 'made',
 'appoint',
 'when/wher',
 'pick',
 'get',
 'librari',
 'movi',
 'laptop',
 'wat',
 '?',
 'wish',
 '!',
 'one',
 'talk',
 'ok',
 '...',
 'stitch',
 'trouser',
 'thanx',
 '...',
 '2/2',
 '146tf150p',
 'earli',
 '?',
 'call',
 '.',
 'wat',
 '?',
 'oki',
 '...',
 'ok',
 '..',
 'ok',
 '.',
 'get',
 'messag',
 'much',
 'buzi',
 'plan',
 'manag',
 'place',
 'man',
 'ringtonek',
 '84484',
 'convey',
 'regard',
 '26th',
 'juli',
 'get',
 'home',
 'ok',
 '...',
 'you_know',
 '...',
 'exact',
 'intent',
 'k.',
 'sent',
 'donno',
 'scorabl',
 'happen',
 'adventur',
 'txting',
 'drive',
 'late',
 '.',
 'one',
 '.',
 'convey',
 'regard',
 'wat',
 '?',
 'haha',
 'think',
 'somewher',
 'fredericksburg',
 'wait',
 'yesterday',
 'leav',
 '.',
 'fps',
 '.',
 'dear',
 'reach',
 'midnight',
 'earliest',
 'place',
 'man',
 'guy',
 '.',
 'ok',
 '...',
 'place',
 'man',
 'ok',
 '...',
 '\\alright',
 'babe',
 'oki',
 '...',
 'stalk',
 '?',
 'ok',
 '...',
 'scratch',
 '?',
 'home',
 'way',
 'carri',
 'disturb',
 'come',
 '?',
 '*',
 'way',
 'call',
 '...',
 'tire',
 'special',
 'tell',
 'reach',
 'ok',
 '...',
 'come',
 '?',
 'wondarful',
 'song',
 'got',
 'ta',
 'east',
 'coast',
 'mayb',
 'pressi',
 'duck',
 'chinchilla',
 'marriag',
 'function',
 'lei',
 '?',
 'ok',
 '...',
 'ok',
 '...',
 'room',
 '.',
 'k.',
 'sent',
 'ok',
 '.',
 'talk',
 '?',
 'bring',
 'got',
 'see',
 '?',
 'stupid.it',
 'possibl',
 'yup',
 '...',
 'avatar',
 'suppos',
 'subtoitl',
 'n',
 'funni',
 '...',
 'got',
 'person',
 'stori',
 'daddi',
 'bb',
 '.',
 'take',
 'like',
 'noon',
 'want',
 'go',
 '?',
 'train',
 'tomorrow',
 '?',
 'farm',
 'open',
 '?',
 'dunno',
 'ask',
 '.',
 'still',
 'work',
 '?',
 'howz',
 'person',
 'stori',
 'whore',
 'unbeliev',
 '.',
 'like',
 'person',
 'size',
 'keep',
 'away',
 'like',
 'ok.',
 'c',
 '.',
 'mean',
 'fat',
 'head',
 'ya',
 'came',
 'ago',
 'oh',
 'sorri',
 'pleas',
 'practis',
 'curtsey',
 '?',
 'town',
 'alon',
 '?',
 'onlin',
 'transact',
 '?',
 'say',
 'thanks2',
 '.',
 'heard',
 'week',
 '?',
 'normal',
 ':',
 ')',
 'number',
 'vivek',
 '..',
 'dont',
 'use',
 'hook',
 'receiv',
 'msg',
 '?',
 'home',
 'lei',
 '...',
 'hope',
 'scare',
 '!',
 'seem',
 'unnecessarili',
 'hostil',
 'yes',
 'appt',
 '?',
 'anytim',
 'you_know',
 '...',
 'went',
 'project',
 'centr',
 'get',
 'back',
 'home',
 'ok',
 'way',
 'railway',
 'someth',
 'ate',
 '?',
 'hank',
 'lotsli',
 '!',
 'awesom',
 ',',
 'minut',
 'abl',
 'sleep',
 '.',
 'anyth',
 'you_know',
 '.',
 'yeah',
 "n't",
 'see',
 'k.then',
 'special',
 '?',
 'came',
 'hostel',
 '.',
 'guy',
 'leav',
 '?',
 'abl',
 'anyth',
 '.',
 'alright',
 'new',
 'goal',
 'cos',
 'want',
 'thing',
 'headin',
 'toward',
 'busetop',
 'most',
 'like',
 '.',
 'laptop',
 'take',
 '.',
 'time',
 'come',
 'tomorrow',
 'morn',
 'ok',
 '.',
 ':',
 '(',
 '....',
 'mm',
 'food',
 'buddi',
 'dear',
 'reach',
 'room',
 'parti',
 'alex',
 'nichol',
 'come',
 'tomorrow',
 'di',
 'check',
 'nuerologist',
 '.',
 'time',
 'get',
 '?',
 'famili',
 'happi',
 '..',
 'mom',
 'want',
 'know',
 'slept',
 'time.you',
 '?',
 'lem',
 'know',
 're',
 '?',
 'miss',
 '!',
 'rememb',
 'day',
 '..',
 'great',
 '!',
 '?',
 'go',
 'bed',
 'prin',
 'offic',
 'na',
 '.',
 're',
 'done',
 'mean',
 'wait',
 'call',
 '.',
 'open',
 'door',
 '?',
 "'s",
 'husband',
 '.',
 'work',
 'right',
 '?',
 'come',
 'tomorrow',
 'di',
 'wet',
 'right',
 '?',
 'attend',
 'noth',
 '.',
 '*',
 'septemb',
 '!',
 'sever',
 'sir',
 '.',
 'yes',
 'chat',
 '.',
 'll',
 'late',
 '...',
 'much',
 'eighth',
 '?',
 'arun',
 'transfr',
 'amt',
 "'s",
 'signific',
 '?',
 'ì_',
 'come',
 '?',
 'work',
 'week',
 '?',
 'ok',
 'you_know',
 '...',
 'cutest',
 'girl',
 'world',
 'world',
 'famamus',
 '....',
 'anyth',
 'lar',
 '...',
 'yes',
 'mani',
 'sweet',
 'make',
 'fb',
 'list',
 'still',
 'grinder',
 '?',
 'drive',
 'you_know',
 '.',
 'see',
 'half',
 'hour',
 'ew',
 'one',
 '?',
 'dare',
 'chang',
 'ring',
 'still',
 'game',
 '?',
 "'s",
 'weather',
 '?',
 'lmao',
 'fun',
 '...',
 'still',
 'tonight',
 '?',
 'webpag',
 'avail',
 '!',
 'okay',
 'thought',
 'expert',
 'buddi',
 'car',
 'park',
 'creepi',
 'crazi',
 '.',
 'remind',
 'hrs',
 '.',
 'glad',
 'talk',
 '.',
 'also',
 "'s",
 'piec',
 're',
 'right',
 'think',
 'yo',
 'guess',
 'drop',
 'pussi',
 'perfect',
 '!',
 'batteri',
 'low',
 'babe',
 'reach',
 'ten',
 'morn',
 'mm',
 'way',
 'railway',
 'tall',
 'princess',
 '?',
 'also',
 'maaaan',
 'miss',
 'gobi',
 'art',
 'colleg',
 'prakesh',
 'know',
 '.',
 'hello',
 'madam',
 '?',
 're',
 'done',
 '...',
 'outsid',
 'offic',
 'take',
 'annoy',
 "n't",
 '.',
 'ok',
 'you_know',
 '...',
 'room',
 '?',
 'need',
 'much',
 'get',
 '?',
 'packag',
 'program',
 'well',
 'noth',
 '.',
 '...',
 'outsid',
 'alreadi',
 '.',
 'yup',
 'ok',
 '...',
 'pick',
 'various',
 'point',
 'plan',
 'pongal',
 '?',
 'still',
 'custom',
 'place',
 'send',
 'id',
 'password',
 '*',
 'wear',
 '?',
 'ok',
 'you_know',
 '...',
 'howz',
 'person',
 'stori',
 'nice.nice.how',
 'work',
 '?',
 'ok',
 'thanx',
 '...',
 'see',
 'half',
 'hour',
 'custom',
 'place',
 'call',
 'ok',
 'shall',
 'talk',
 'account',
 'number',
 '?',
 'danc',
 'river',
 '?',
 'manag',
 'puzzel',
 '.',
 'sure',
 'stomach',
 '...',
 'hang',
 'brother',
 'famili',
 'road',
 'cant',
 'txt',
 'thank',
 'meet',
 'monday',
 'dled',
 '3d',
 'imp',
 'dint',
 'touch',
 '.',
 'anyth',
 'you_know',
 '...',
 'know',
 'mood',
 'today',
 'see',
 '?',
 'thought',
 'oh',
 'ok',
 '..',
 'mean',
 'get',
 'door',
 'collect',
 'laptop',
 '?',
 'sleep',
 '..',
 'surf',
 'see',
 'requir',
 'pleas',
 'came',
 'hostel',
 '.',
 'know',
 'result',
 '.',
 'spare',
 'power',
 'suppli',
 'll',
 'meet',
 'lobbi',
 'didnt',
 'holla',
 '?',
 'happen',
 'dear',
 'tell',
 'audri',
 'lousi',
 'autocorrect',
 'dont',
 'messag',
 'offer',
 'spoon',
 'okay',
 '?',
 'remind',
 'get',
 'shall',
 'ill',
 'obey',
 '.',
 'seem',
 'unnecessarili',
 'affection',
 'howz',
 'person',
 'stori',
 'welp',
 'appar',
 'retir',
 'curious',
 'cuz',
 'ask',
 'nice.nice.how',
 'work',
 '?',
 'home',
 'also',
 '.',
 "'s",
 'pin',
 '?',
 'samus',
 'shoulder',
 'yet',
 'shore',
 'takin',
 'bus',
 'thanx',
 'lot',
 '...',
 'happen',
 'interview',
 '?',
 "'m",
 'done',
 '...',
 'happen',
 'tell',
 'truth',
 'sorri',
 'hurt',
 '.',
 'time',
 'come',
 '.',
 'ask',
 'princess',
 '?',
 'ok',
 'you_know',
 '.',
 'gibb',
 'unsold.mik',
 'hussey',
 'how',
 'watch',
 'resiz',
 'dude',
 'go',
 'sup',
 'cook',
 'dinner',
 '?',
 'ok',
 'thanx',
 '...',
 'heehe',
 'funni',
 'tho',
 'jus',
 'chillaxin',
 ',',
 'fine',
 '.',
 'thank',
 'much',
 'got',
 'clean',
 'yeah',
 'get',
 'unlimit',
 'ok',
 'prob',
 '...',
 '...',
 'pub',
 '?',
 'want',
 'go',
 'perumbavoor',
 'yeah',
 ',',
 'probabl',
 'part',
 'check',
 'iq',
 "n't",
 'pay',
 'attent',
 'ill',
 'b',
 'soon',
 'dear',
 'good',
 'morn',
 "'s",
 'paper',
 '?',
 'arun',
 'transfr',
 'amt',
 'oh',
 'charg',
 'camera',
 "'m",
 'home',
 '.',
 'got',
 'person',
 'stori',
 'ok',
 'you_know',
 '.',
 'sleep',
 '..',
 'surf',
 'network',
 'job',
 '.',
 'eatin',
 'lunch',
 '...',
 'yup',
 'ok',
 '...',
 'dear',
 '.',
 'call',
 'haha',
 ',',
 'thinkin',
 'donno',
 'gene',
 'someth',
 'come',
 'funer',
 'home',
 'got',
 'person',
 'stori',
 'drive',
 'train',
 '?',
 'make',
 'happi',
 ...]

In [92]:
print(len(words),len(set(words)))

68098 7993

In [83]:
sorted_df['word_length'].value_counts()

word_length
5      481
6      432
4      395
7      387
8      364
      ...
61       1
58       1
43       1
49       1
202      1
Name: count, Length: 66, dtype: int64

In [42]:
df.isna().sum()

Target          0
Text_Message    0
clean_data      0
dtype: int64

In [44]:
# from collections import Counter
# def frequency_count(df):
#     word = []
#     for text in df:
#         sentenc = text.split()
#         for i in sentenc:
#             word.append(i)
#     freq = Counter(word)
#     word_freq = pd.DataFrame(freq.items(),columns=['word','frequency'])
#     sf = word_freq.sort_values(by='frequency')
#     return sf

In [62]:
import nltk
from nltk.tokenize import word_tokenize

def frequency_count(df):
    word_list = []

    for text in df:
        tokens = word_tokenize(text)
        word_list.extend(tokens)

    freq = Counter(word_list)
    word_freq = pd.DataFrame(freq.items(), columns=['word', 'frequency'])
    sf = word_freq.sort_values(by='frequency', ascending=False)

    return sf

In [63]:
sf = frequency_count(df.clean_data)

In [64]:
os.makedirs("frequency_count",exist_ok= True)
save_data(sf, os.path.join("frequency_count","data.csv"))

In [67]:
sf.head(10)

     word  frequency
84      .       4769
3       ,       1872
74      ?       1541
69      !       1381
14    ...       1131
45      &        916
283     ;        764
169     :        717
5      ..        681
114  call        656

In [146]:
new_df = df[['Target','clean_data']]

In [147]:
new_df

      Target                                         clean_data
0          0  go jurong point , crazi .. avail bugi n great ...
1          0                            ok lar ... joke oni ...
2          1  free entri 2 week comp win fa cup final tkts 2...
3          0            dun say earli hor ... c alreadi say ...
4          0         nah n't think goe usf , live around though
...      ...                                                ...
5567       1  2nd time tri 2 contact . å£750 pound prize . 2...
5568       0                         ì_ b go esplanad fr home ?
5569       0                      piti , * mood . ... suggest ?
5570       0  guy bitch act like 'd interest buy someth els ...
5571       0                       roll floor laugh . true name

[5572 rows x 2 columns]

In [148]:
import pandas as pd
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, SimpleRNN, Dense

In [149]:


max_words = 5000  # Adjust based on your vocabulary size
max_len = 60  # Adjust based on your sequence length

tokenizer = Tokenizer(num_words=max_words)

In [150]:
tokenizer.fit_on_texts(df['clean_data'])

In [151]:
tokenizer

In [152]:
sequences = tokenizer.texts_to_sequences(df['clean_data'])
padded_sequences = pad_sequences(sequences, 
                                 maxlen=max_len,
                                 truncating="post")

In [154]:
new_df.clean_data[0]

'go jurong point , crazi .. avail bugi n great world la e buffet ... cine got amor wat ...'

In [155]:
max_words =  20
len_word = 5
tokenizer = Tokenizer(num_words=max_words)

In [159]:
a = tokenizer.fit_on_texts(new_df.clean_data[0])

In [158]:
sequences = tokenizer.texts_to_sequences(new_df.clean_data[0])
len(sequences)

89

In [162]:
len(word_tokenize(new_df.clean_data[0]))

20

In [ ]:
padded_sequences = pad_sequences(sequences, 
                                 maxlen=max_len,
                                 truncating="post")

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, SimpleRNN, Dense
from sklearn.preprocessing import LabelEncoder

In [2]:

data = {'Target': [0,0, 1, 0, 1],
        'clean_data': ["0 1 ok",'go jurong point, crazy ok', ' ok free entry week comp', 'ok dun say early', 'ok nah think goes usf']}

df = pd.DataFrame(data)
df

   Target                 clean_data
0       0                     0 1 ok
1       0  go jurong point, crazy ok
2       1    ok free entry week comp
3       0           ok dun say early
4       1      ok nah think goes usf

In [3]:
from nltk.tokenize import word_tokenize
print([word_tokenize(sen) for sen in df['clean_data'] ])
print([(sen.split(' ')) for sen in df['clean_data'] ])

[['0', '1', 'ok'], ['go', 'jurong', 'point', ',', 'crazy', 'ok'], ['ok', 'free', 'entry', 'week', 'comp'], ['ok', 'dun', 'say', 'early'], ['ok', 'nah', 'think', 'goes', 'usf']]
[['0', '1', 'ok'], ['go', 'jurong', 'point,', 'crazy', 'ok'], ['', 'ok', 'free', 'entry', 'week', 'comp'], ['ok', 'dun', 'say', 'early'], ['ok', 'nah', 'think', 'goes', 'usf']]

In [4]:
df['word_count'] = [len(sen.split(' ')) for sen in df['clean_data'] ]
df

   Target                 clean_data  word_count
0       0                     0 1 ok           3
1       0  go jurong point, crazy ok           5
2       1    ok free entry week comp           6
3       0           ok dun say early           4
4       1      ok nah think goes usf           5

In [5]:
all_words = [word for sen in df['clean_data'] for word in sen.split()]
len(all_words),len(set(all_words))

(22, 18)

In [7]:
max_words = 16 
max_len = 3

In [8]:
tokenizer = Tokenizer(num_words=max_words)
tokenizer.fit_on_texts(df['clean_data'])

In [9]:
tokenizer.index_word

{1: 'ok',
 2: '0',
 3: '1',
 4: 'go',
 5: 'jurong',
 6: 'point',
 7: 'crazy',
 8: 'free',
 9: 'entry',
 10: 'week',
 11: 'comp',
 12: 'dun',
 13: 'say',
 14: 'early',
 15: 'nah',
 16: 'think',
 17: 'goes',
 18: 'usf'}

In [10]:
tokenizer.index_docs

defaultdict(int,
            {2: 1,
             1: 5,
             3: 1,
             7: 1,
             6: 1,
             4: 1,
             5: 1,
             9: 1,
             8: 1,
             10: 1,
             11: 1,
             14: 1,
             13: 1,
             12: 1,
             15: 1,
             18: 1,
             17: 1,
             16: 1})

In [11]:
tokenizer.word_counts

OrderedDict([('0', 1),
             ('1', 1),
             ('ok', 5),
             ('go', 1),
             ('jurong', 1),
             ('point', 1),
             ('crazy', 1),
             ('free', 1),
             ('entry', 1),
             ('week', 1),
             ('comp', 1),
             ('dun', 1),
             ('say', 1),
             ('early', 1),
             ('nah', 1),
             ('think', 1),
             ('goes', 1),
             ('usf', 1)])

In [12]:
tokenizer.word_index

{'ok': 1,
 '0': 2,
 '1': 3,
 'go': 4,
 'jurong': 5,
 'point': 6,
 'crazy': 7,
 'free': 8,
 'entry': 9,
 'week': 10,
 'comp': 11,
 'dun': 12,
 'say': 13,
 'early': 14,
 'nah': 15,
 'think': 16,
 'goes': 17,
 'usf': 18}

In [13]:
sequences = tokenizer.texts_to_sequences(df['clean_data'])
sequences

[[2, 3, 1], [4, 5, 6, 7, 1], [1, 8, 9, 10, 11], [1, 12, 13, 14], [1, 15]]

In [14]:
padded_sequences = pad_sequences(sequences, maxlen=10,truncating='post',padding="post")
padded_sequences

array([[ 2,  3,  1,  0,  0,  0,  0,  0,  0,  0],
       [ 4,  5,  6,  7,  1,  0,  0,  0,  0,  0],
       [ 1,  8,  9, 10, 11,  0,  0,  0,  0,  0],
       [ 1, 12, 13, 14,  0,  0,  0,  0,  0,  0],
       [ 1, 15,  0,  0,  0,  0,  0,  0,  0,  0]])

In [15]:
df

   Target                 clean_data  word_count
0       0                     0 1 ok           3
1       0  go jurong point, crazy ok           5
2       1    ok free entry week comp           6
3       0           ok dun say early           4
4       1      ok nah think goes usf           5

In [ ]:

# Tokenization and padding
max_words = 20  # Adjust based on your vocabulary size
max_len = 5  # Adjust based on your sequence length

tokenizer = Tokenizer(num_words=max_words)
tokenizer.fit_on_texts(df['clean_data'])
sequences = tokenizer.texts_to_sequences(df['clean_data'])
padded_sequences = pad_sequences(sequences, maxlen=max_len)

# Encoding target variable
label_encoder = LabelEncoder()
df['Target'] = label_encoder.fit_transform(df['Target'])

In [16]:
import pickle

with open('tokenizer1.pkl', 'wb') as tokenizer_file:
    pickle.dump(tokenizer, tokenizer_file)

In [17]:
with open('tokenizer1.pkl', 'rb') as tokenizer_file:
    loaded_tokenizer = pickle.load(tokenizer_file)

In [21]:
new_text = ["	go jurong point, crazy ok"]
new_sequences = loaded_tokenizer.texts_to_sequences(new_text)
new_sequences

[[4, 5, 6, 7, 1]]